header 
  .logo
  nav
    .nav-item
      a(href='').active Home
    .nav-item 
      a(href='') Projects
    .nav-item 
      a(href='') About
    .nav-item 
      a(href='') Contact
  .header-title
  .header-bird
