header 
  .logo
  .header-title
  .header-bird
  
.skills-container
  .skills-wrap  
    .skills
      .label HTML5
      .extend.html 
      .label CSS3
      .extend.css 
      .label jQuery
      .extend.jquery
      .label Angular 2
      .extend.angular 
      .label NodeJS
      .extend.node 
      .label Photoshop
      .extend.ps
      .label Gulp.js
      .extend.gulp
      
    .skills-about Aaron is a front-end web developer who adores spending his time in the code editor and Photoshop. He can handle full-stack development but prefers to stick to the visual side of web development on the front-end. He enjoys working with anyone wishing to expand their website, create a website from scratch or make their code more efficient. He enjoys working with Jade and Sass (.sass and .sccs) and also knows frameworks such as Bootsrap and Skeleton.
      
      .hire
        form(action="mailto:aaron.phillips96@icloud.com")
          a(href="")
            button Hire Aaron

.social-container
  .social-info 
    p Aaron has some small code snippets on his CodePen page, if you'd like to see his work look here.
    a(href="http://codepen.io/AaronP96/")
      button Aaron's CodePen
    
footer
  ul
    li 
      a(href="https://www.facebook.com/AaronPhillips69")
        i(aria-hidden="true").fa.fa-facebook.fa-2x
    li
      a(href="https://www.instagram.com/aaron.phillips96/") 
        i(aria-hidden="true").fa.fa-instagram.fa-2x
    li 
      a(href="https://codepen.io/AaronP96/")
        i(aria-hidden="true").fa.fa-codepen.fa-2x
  
  .qoute-wrap
    .quote "The problem is you think you have time."
    
    .quote-author - Budda


  .side-note Check out the repository for this site 
    a(href="https://github.com/AaronBP/NewPortfolio") here.
