header 
  .logo
  .header-title
  .header-bird
  
.skills-container
  .skills-wrap  
    .skills
      .label HTML5
      .extend.html 
      .label CSS3
      .extend.css 
      .label jQuery
      .extend.jquery
      .label Angular 2
      .extend.angular 
      .label NodeJS
      .extend.node 
      .label Photoshop
      .extend.ps
      .label Gulp.js
      .extend.gulp
      
    .skills-about Aaron is a front-end web developer who adores spending his time in the code editor and Photoshop. He can handle full-stack development but prefers to stick to the visual side of web development on the front-end. He enjoys working with anyone wishing to expand their website, create a website from scratch or make their code more efficient. He enjoys working with Jade and Sass (.sass and .sccs) and also knows frameworks such as Bootsrap and Skeleton.
      
      .hire
        form(action="mailto:aaron.phillips96@icloud.com")
          a(href="")
            button Hire Aaron
    
       
